body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto";
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.logo__image {
  width: 160px;
}

.second-tab {
  width: 100%;
  background: #c4c2c2;
  display: flex;
  justify-content: center;
  height: 50px;
}

.nav {
  margin-top: 5px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #f8f6f6;
}
.nav__location {
  display: flex;
  background: #c4c2c2;
  font-size: 15px;
  padding-top: 18px;
  padding-left: 5px;
  justify-content: space-evenly;
  column-gap: 5px;
  justify-self: center;
  width: 150px;
}
.nav__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
  max-width: 250px;
  align-self: center;
}
.nav__subtext {
  display: flex;
  text-align: center;
  margin: 15px;
  font-size: 15px;
  padding-left: 10px;
  align-self: center;
}
.nav__explore-btn {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 220px;
  border-radius: 25px;
  height: 50px;
  color: white;
  border: none;
  margin-top: 33px;
  margin-bottom: 55px;
  align-self: center;
  font-size: 16px;
  transition-property: opacity;
  transition-duration: 0.1;
  box-shadow: 5px 5px 7px #d7d5d5;
  cursor: pointer;
}
.nav__explore-btn:hover {
  box-shadow: 5px 5px 3px #d7d5d5;
  opacity: 0.9;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.presentation__text {
  display: block;
  font-size: 24px;
  font-weight: 900;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.presentation__options {
  display: flex;
  height: 30px;
  background-color: #f6f6f6;
  margin-top: 20px;
  max-width: 100%;
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 18px;
  padding-left: 15px;
}
.presentation__icon {
  flex-basis: 30px;
  padding-right: 10px;
  cursor: pointer;
}
.presentation__expl {
  float: left;
  text-align: left;
  column-span: 3;
}

ol {
  list-style: none;
  counter-reset: mycounter;
}

li {
  counter-increment: mycounter;
  margin: 0.25rem;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #e4e2e2;
  cursor: pointer;
}
li:hover {
  filter: brightness(97%);
  box-shadow: 6px 6px 4px #e4e2e2;
}
li:hover .presentation__icon {
  color: #9356DC !important;
}

li::before {
  content: counter(mycounter);
  background: #9356DC;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  float: left;
  margin-top: 20px;
  margin-left: -15px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  background: #f1f1f1;
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-section__title {
  display: inline;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}
.main-section__card {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 5px 5px 5px #e2e2e2;
  border-radius: 25px;
  height: 200px;
  min-width: 180px;
  margin-bottom: 20px;
}
.main-section__image {
  height: 115px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.main-section__new {
  background: #99E2D0;
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  color: green;
  font-size: 18px;
  position: absolute;
  right: 20px;
  margin-top: 20px;
  margin-right: 30px;
}
.main-section__restaurant-name {
  width: 100%;
  font-weight: bold;
  padding-left: 5px;
  margin: 10px;
  margin-bottom: 1px;
}
.main-section__location {
  padding-left: 5px;
  margin: 10px;
  width: 80%;
  margin-bottom: 20px;
}
.main-section__heart {
  float: right;
  padding-right: 10px;
  justify-self: flex-end;
  font-size: 25px;
  padding-bottom: 30px;
}

.footer {
  background: #383838;
  width: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.footer__logo {
  width: 90px;
  height: 20px;
  margin-bottom: 20px;
  filter: invert(100%);
  color: white;
  fill: white;
  filter: invert(50%) brightness(200%);
}
.footer__action {
  display: flex;
  max-width: 100%;
  font-size: 15px;
}
.footer__icon {
  flex-basis: 30px;
  padding-top: 10px;
}
.footer__text {
  padding-top: 5px;
}
.footer__text a {
  text-decoration: none;
  color: white;
}
.footer__text a:hover {
  color: white;
}
.footer #contact {
  color: white;
  margin-top: 10px;
}

.spinner {
  align-self: center;
  border: 16px solid #f1f1f1;
  border-radius: 50%;
  border-top: 16px solid #99E2D0;
  height: 200px;
  width: 200px;
  margin-top: 20px;
  justify-self: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-case {
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
  top: 10px;
  justify-content: center;
  animation-name: case;
  animation-duration: 3s;
  opacity: 1;
  animation-fill-mode: forwards;
}

@keyframes case {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-page {
  animation-name: main-page;
  opacity: 0;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes main-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurant-navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  justify-content: center;
}
.restaurant-navbar__logo {
  width: 160px;
  height: 25px;
  justify-self: center;
}

.previous {
  position: absolute;
  left: 20px;
}

.restaurant__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: -35px;
}

.restaurant-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  background: #dfdede;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolut;
}

.restaurant {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  background: #dfdede;
  justify-content: space-between;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.restaurant__name {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 25px;
  font-family: "Shrikhand";
  margin-bottom: 30px;
  margin-top: 20px;
}

.menu__course-type {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.menu__title {
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 30px;
}
.menu__dish {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  width: auto;
  margin: 10px;
  border-radius: 15px;
  padding-left: 15px;
  cursor: pointer;
}
.menu__dish-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.menu__dish-name {
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dish-description {
  width: 100%;
  font-size: 8px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dish-pricecheck {
  display: flex;
}
.menu__price {
  width: 70px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: -25px;
  padding-bottom: 10px;
}
.menu__checkmark {
  width: 0px;
  background: #99E2D0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.5s;
}
.menu__icon {
  font-size: 30px;
  margin-top: 20px;
  color: white !important;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 0.5s;
  animation-fill-mode: backwards;
}
.menu__order-btn {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 185px;
  border-radius: 25px;
  height: 50px;
  color: white;
  border: none;
  margin-top: 33px;
  margin-bottom: 55px;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  transition-property: opacity;
  transition-duration: 0.1s;
  box-shadow: 5px 5px 7px #a3a0a0;
  cursor: pointer;
}
.menu__order-btn:hover {
  box-shadow: 5px 5px 3px #a3a0a0;
  opacity: 0.9;
}

.entrees {
  animation-name: entrees;
  animation-duration: 1s;
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes entrees {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  animation-name: main;
  animation-duration: 2s;
  opacity: 0;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.desserts {
  animation-name: desserts;
  animation-duration: 2s;
  opacity: 0;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes desserts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
hr {
  display: block;
  border: solid 2px #99E2D0;
  width: 40px;
  text-align: left;
  justify-self: left;
  margin-left: 15px;
}

.fa-heart {
  cursor: pointer;
  position: absolute;
  right: 50px;
}

.full-heart {
  color: transparent !important;
  transition-property: color;
  transition-duration: 2s;
}

.full-heart:hover {
  color: #9356DC !important;
}

.menu__dish:hover .menu__checkmark {
  width: 70px;
}
.menu__dish:hover .menu__icon {
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
