.footer{
    background: rgb(41, 40, 40);
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    &__logo{
        width: 90px;
        height: 10px;
        margin-bottom: 20px;
        filter: invert(100%);
        color: white;
    }
    &__action{
        display: flex;
        max-width: 100%;
        font-size: 15px;
    }
    &__icon{
        flex-basis: 30px;
        padding-top: 10px;
    }
    &__text{
        padding-top: 5px;
            & a{
                text-decoration: none;
                color: white;
        } 
        & a:hover{
            color: white;
        }
    }

    #contact{
        color: white;
        margin-top: 10px;
    }
    }