.presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 10px;
    margin-right: 10px;
    &__text{
        display: block;
        font-size: 24px;
        font-weight: 900;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    &__options{
        display: flex;
        height: 30px;
        background-color: lighten($color-primary, 36%);
        margin-top: 20px;
        max-width: 100%;
        border-radius: 25px;
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 18px;
        padding-left: 15px;
     
       
    }
    &__icon{
        flex-basis: 30px;
        padding-right: 10px;
        cursor: pointer;
        
    }
    &__expl{
        float: left;
        text-align: left;
    }
}

ol {
    list-style: none;
    counter-reset: mycounter;
  }
  li {
    counter-increment: mycounter;
    margin: 0.25rem;
    background-color: lighten($color-primary, 36%);
    border-radius: 20px;
    box-shadow: 6px 6px 10px #e4e2e2;
    cursor: pointer;
    &:hover{
        filter: brightness(97%);
        box-shadow: 6px 6px 4px #e4e2e2;
       & .presentation__icon{
            color: $color-primary !important;
        }
    }
  }
  
  li::before {
    content: counter(mycounter);
    background: $color-primary;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
    float: left;
    margin-top: 20px;
    margin-left: -15px;
    
  }

 